/* Existing popup styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); /* Transparent white background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Slight shadow effect */
    z-index: 1000;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    color: orange;
    
}
.popup .close-btn:hover {
  color: red;
}

.popup-content {
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
}

/* Responsive styles for desktop */
@media (min-width: 768px) {
    .popup {
        max-width: 80%;
    }
}

/* Responsive styles for mobile */
@media (max-width: 767px) {
    .popup {
        width: 90%;
    }
}
